.cntcMeBox {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #BDE6F1;
    height: 800px;
}

.cntcMeHead {
    margin: 5px;
    padding: 5px;
    border: solid #F9D949 5px;
    text-align: center;
    background: #210062; 
}

.cntcMeData {
    margin: 25px;
    padding: 25px;
    /* border: solid #F9D949 5px; */
}

.cntcText {
    margin: 5px;
    padding: 5px;
    display: inline-block;
    border: solid #F9D949 5px;
    background: #210062;
    text-align: center;
}

.bttnBttn {
    margin: .18em;
    padding: .18em;
    border: solid #F9D949 .18em;
    background-color: #210062;
    color: #BDE6F1;
}

.bttnBttn:hover {
    color: black;
    background-color: #BDE6F1;
    cursor: pointer;
}

@media screen and (min-width: 375px) and (max-width: 740px) {
    .cntcMeBox {
        width: 390%;
        height: 150em;
    }
    .cntcMeHead{
        font-size: 3em;
        width: 28em;
    }
    .cntcMeData {
        font-size: 3em;
        width: 28em;
        width: 80%;
    }
}