.gameBox {
    margin: .18em;
    padding: .18em;
    text-align: center;
    border: solid #F9D949 .31px;
    position: relative;
    width: 50em;

    /* color: black; */
}

.iconBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bckGrnd {
    margin: .18em;
    padding: .18em;
    border: solid #F9D949 .31em;
    background-color: #BDE6F1;
    color: black;
    width: 5.31em;
}

.playBox {
    margin: .18em;
    padding: .18em;
    border: solid #F9D949 .18em;
    background-color: #BDE6F1;
    /* color: black; */
    height: 2.8em;
}

.bttnBox {
    margin: .18em;
    padding: .18em;
    border: solid #F9D949 .18em;
    display: flex;
    justify-content: space-evenly;
}

.bttnBttn {
    margin: .18em;
    padding: .18em;
    border: solid #F9D949 .18em;
    background-color: #210062;
    color: #BDE6F1;
}

.bttnBttn:hover {
    color: black;
    background-color: #BDE6F1;
    cursor: pointer;
}

@media screen and (min-width: 375px) and (max-width: 740px) {
    .gameBox {
        width: 27em;
    }
}