.board {
  // width: 499px;
  // height: 499px;
  // border: solid #F9D949 5px;
  padding: 3px;
  margin: 3px;
  color: black;

  // border: 1px solid #444;
  // border-bottom: none;

  .row {
    display: flex;
    height: 1.9em;
    &:last-child{
      // border-bottom: none;
      height: 50px;
    }
    .cell {
      // border-right: 1px solid #444;
      width: 49px;
      display: flex;
      justify-content: center;
      align-items: center;
      // border-bottom: 1px solid #444;
      border: solid  #BDE6F1 3px;
      background-color: #210062;
      &.open{
        background-color: #F9D949;
        &:hover {
          background-color: #F9D949;
        }
      }
      &:hover {
        background-color: #F9D949;
      }
      // &:last-child {
      //   border-right: none;
      // }
    }
  }
}

.boardHead {
  display: flex;
  margin: 5px;
  padding: 5px;
  // flex-direction: row;
  // height: 60px;
  justify-content: space-evenly;
  align-items: center;
  border: solid #F9D949 5px;
  // border-left: 1px solid #444;
  // border-right: 1px solid #444;
  .reset,
  .flagCount,
  .timer {
    // width: 55px;
    // height: 35px;
    border: solid #F9D949 3px;
    background-color: #210062;
    margin: 5px;
    padding: 5px;
    // display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    
  }
  .reset {
    font-size: 25px;
    border: solid #F9D949 3px;
    background-color: #210062;
    color: #BDE6F1;
    display: inline-block;
  }
  .reset:hover {
    background-color: #BDE6F1;
    color: black;
  }
}

// .boardHead {
//   display: flex;
//   flex-direction: row;
//   height: 55px;
//   justify-content: space-between;
//   align-items: center;
//   border-left: 1px solid #444;
//   border-right: 1px solid #444; }
//   .boardHead .reset,
//   .boardHead .flagCount,
//   .boardHead .timer {
//     width: 55px;
//     height: 35px;
//     display: flex;
//     justify-content: center;
//     align-items: center; }
//   .boardHead .reset {
//     font-size: 25px; 
// }

.board {
  width: 25em;
  height: 35em;
  // border: 1px solid #444;
  // border-bottom: none; 
}
  .board .row {
    display: flex;
    height: 1.9em; }
    .board .row:last-child {
      // border-bottom: none;
      height: 1.9em; }
    .board .row .cell {
      // border-right: 1px solid #444;
      width: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      // border-bottom: 1px solid #444; 
    }
      .board .row .cell.open {
        background-color: #F9D949; }
        .board .row .cell.open:hover {
          background-color: #F9D949; }
      .board .row .cell:hover {
        background-color: #F9D949; 
}
//       .board .row .cell:last-child {
//         border-right: none; 
// }

// html,
// body {
//   height: 100%; }
//   html #root,
//   body #root {
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center; }
//     html #root .minesweeper,
//     body #root 
.mineSweeper {
  display: flex;
  flex-direction: column;
  height: 26em;
  justify-content: center;
  align-items: center;  
}
      // html #root .minesweeper h1,
      // body #root .minesweeper h1 {
      //   text-align: center;
      //   border-left: 1px solid #444;
      //   border-top: 1px solid #444;
      //   border-right: 1px solid #444; }

      // @media screen and (min-width: 375px) and (max-width: 740px) {
      //   .mineSweeper {
      //     height: 20em;
      //   }
      //   // .board .row {
      //   //   height: 1.9em;
      //   // }
        
      // }